[Desktop Entry]
Name=MinnowVPN
Comment=Secure VPN Client
Exec=minnowvpn_client %u
Icon=minnowvpn_client
Terminal=false
Type=Application
Categories=Network;VPN;Security;
Keywords=vpn;wireguard;security;
MimeType=x-scheme-handler/minnowvpn;
StartupWMClass=minnowvpn_client
